@import "themes/theme.less"; 

.iconImage{
background: url("/dcma/themes/default_theme/images/logo_login.png") no-repeat scroll 0 0;
}
body {
margin : 0px !important;
}
.folderDropFilesLabel{
/* margin-top: 6px;
padding-left: 40%;
font-family: verdana, arial, sans-serif;
font-size: 12px;
color: #2d4b6d;
font-weight: bold;
text-align: center;
display: block;
border: 2px dashed #888888;
border-radius: 10px;
height:77% !important;
padding-top: 4% !important;
width: 59% !important; */
}
 
.buttonContainer {
	width: 100%;
}
.buttonContainer td{
	padding:5px 5px 0 5px;
}
 
.buttonContainer  td table td{
	padding:0;
}
 
.gridRightSelection{
background: lighten(@baseLight, 13%);
color:red;
}
body > .GCGCW0WDDPB {
width:314px !important;
}
body .GCGCW0WDDPB .GCGCW0WDKBB {
width : 314px !important;
}

.folderManagerFooter {
	font-weight: bold;
	text-align: left;
	background-color: lighten(@baseLight, 13%);
	height: 89% !important;
    padding-top: 0.04%;
}
.folderOptionsBox {
padding: 3px !important;
 font-weight: bold !important;
	top:8px !important;
width : 300px !important;
}

.folderOptionsBox input {
width :290px !important;
}

.navigatorViewContentPanel{
height:100% !important;
}
.folderNavigationTree{
height:100% !important;
width: 100% !important;
top:13px !important;
}
.treeContainer{
height:100% !important;
width:100% !important;
}
.treeContainer >div:nth-of-type(2) {
height:93.5% !important;
}
 .gwt-MenuBar .gwt-MenuItem.gwt-MenuItem-disabled { 
 color:#333 !important; 
 background:#999 !important; 
  } 

.menuBarFolderManager {
background: #202020 !important;
border-color: #202020 !important;
width : 100% !important;	
color:white;
}
.horizontalPanelOptionsContainer{
width:100%;
padding-bottom : 33px;
}
.horizontalPanelOptionsContainer td table td{
color:white !important;
font-size:10px;
}
.contextMenu{
width:8% !important;
}
.contextMenu .gwt-MenuBar-vertical table {
border-collapse: collapse;
width: 100% !important;
}
.advKVImportPanel > div:nth-child(3) {
margin-left: 1% !important;
}

.advKVImportPanel > div:nth-child(2) {
margin-left: 39% !important;
}

.advKVImportPanel > div:nth-child(1) {
margin-left: 40% !important;
}
.advKVImportPanel > div:nth-child(4) {
margin-left: 44% !important;
}

.dragDropOverlay{
opacity:0 !important;
}
.dropFileImage{
margin-top:10px;
margin-left:47px;
}
.dropLearnFilesLbl{
margin-top:62px !important;
margin-left : 32px !important;
}
.screenNavigatorView {
z-index: 100;
opacity: 0.90;
}

.screenNavigatorDefaultPosition {
margin-top: 20%;
/**
width: 0px;
height: 0px;
border-style: solid;
border-width: 20px 0 20px 25px;
border-color: transparent transparent transparent black;
opacity : 0.4;
**/
width: 15px;
height: 100px;
border-bottom-right-radius: 79px;
border-bottom-left-radius: 83px;
border-top-left-radius: 83px;
border-top-right-radius: 79px;
background-color : black !important;
}

.screenNavigatorDefaultPosition * {
display : none !important;
}
.screenNavigatorCompleteView {
width : 230px;
height : 100%;
color : white !important;
opacity: 0.8;
background-color: black !important;
}

.navigationTitle {
position : relative !important;
height : 20px !important;
color : white !important;
margin-top : 10px !important;
margin-left : 30px !important;
margin-right : 15px ;
}

.navigationView {
border-width : 1px ;
}

.navigationView:hover {
cursor : pointer !important;
box-shadow : 1px 1px 5px 2px;
color : white !important;
}

.logoutView {
position : absolute !important;
top : 95% !important;
width: 100% !important;
}

.logoutView img {
margin-top : 7px !important;
}
