#overlay {
     display: none;
     position: absolute;
     left: 0px;
     top: 0px;
     width:100%;
     height:100%;
     text-align:center;
     z-index: 999999;
}
#overlay div.modal {
     width:300px;
     margin: 100px auto;
     background-color: #fff;
     border: 1px solid grey;
     text-align:center;
}

.modal_text{
	padding: 10px;
    text-align: left;
}
.modal_buttons {
	padding: 10px;
    text-align: right;
}